<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Резервирования воздушного пространства.</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div id="header">
            <h1>
                Главная страница приложение для отслеживания резервирований воздушного пространства.
            </h1>
            <!-- Панель навигации в зависимости от имени пользователя -->
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Главная страница</a></li>
                    <li><a href="{{ url_for('help') }}">Помощь</a></li>
                </ul>
            </nav>
        </div>

        <div id="requests-settings-conteiner">
            <p>Введите ИКАО коды ЦУВД :</p>
            <textarea type="text" id="icao-codes-for-request" placeholder="ИКАО коды ЦУВД для запроса,&#10;например:&#10;UKOV LBSR UKFV LJLA KVBG KMIB KOFF BIRD EGGX EGPX MPZL KZHU MKJK SKEG TNCF MMFR CZQX CZQM E66X E6PX E6TT EISN EHAA EBUR EBBU"></textarea>
            <button id="request-button">Получить данные</button>
        </div>

        <div id="notams-conteiner">
            <p>Резервирования воздушного пространства активные в текущий момент времени:</p>
            <table id="notams-table">
                <tr>
                    <th id ="th-CUVD">ЦУВД</th>
                    <th id = "th-name-NOTAM">Резервирование</th>
                    <th id = "th-start-NOTAM">Начало резервирования</th>
                    <th id = "th-end-NOTAM">Конец резервирования</th>
                    <th id = "th-text-NOTAM">Оригинальный текст</th>
                </tr>
            </table>
        </div>

        <script src="/static/js/scipt.js"></script>
    </body>
</html>
